*,
*::before,
*::after {
    box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}



button {
    cursor: pointer;
}

:hover,
:focus {
    transition-duration: -250ms;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
    flex: 1 1 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
