.employment__container {
    margin-bottom: 94px;
}


.employment {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    height: 388px;
    justify-content: center;
}

.employment__header {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 57px;
}

.employment__list {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    padding: 0px;
    list-style: none;
}

.employment__item {
    position: relative;
    width: 370px;
    height: 294px;

    &::not(:last-child) {
        margin-right: 30px;
    }
}

.employment__text {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 370px;
    height: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}
