
.footer__container {
    background-color: #2F303A;

}

.footer {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 252px;
    margin: 0 auto;
    padding-top: 55px;
}


.footer a:hover,
.footer a:focus {
    color: var(--globalActiveColor);
}

.footer-form {
    width: 560px;
    height: 86px;
    display: flex;
}

.footer-form__list{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.footer-form__action {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    height: 83px;
}



.footer-form__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-form__input {
    margin-top: 20px;
    padding: 15px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font: inherit;
}

.footer-form__input:placeholder-shown {
    color: #000000;
    background-color: #2F303A;
}

.footer-form__email {
    position: relative;
    width: 200px;
    height: 50px;
    padding-right: 55px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #2196F3;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 13px;
    left: 140px;
    background-image: url('../images/icon-send.svg');
}
}

